.container
{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    
grid-column-gap: 20px;
justify-content: center;
box-sizing: border-box;
} 
.score{
    width:200px;
    text-align: center;
    background-color: white;
}

        .d1{
            width: 100px;
            text-align: center;
            border-radius: 5%;
            background-color: white;
            border-style: groove;
            border-color: grey;
        }
        .d2{
            width: 100px;
            text-align: center;
            border-radius: 5%;
            background-color: white;
            border-style: groove;
            border-color: grey;
        }
        .d3{
            width: 100px;
            text-align: center;
            border-radius: 5%;
            background-color: white;
            border-style: groove;
            border-color: grey;
        }
        .d4{
            width: 100px;
            text-align: center;
            border-radius: 5%;
            background-color: white;
            border-style: groove;
            border-color: grey;
        }
    
    #i1{
        width: 70px;
    }
    #i2{
        width: 70px;
    }
    #i3{
        width: 70px;
    }
    #i4{
        width: 70px;
    }
